body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url(header_bg.png), url(developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.Fonts{
    color: rgba(253, 110, 10, 1);
}
.button{
    background-color: rgba(253, 110, 10, 1) ;
    color: aliceblue;
    border: 0px solid  rgba(253, 110, 10, 1);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px; 
    border-radius: 5px;
}
.navtitle{
    color: #181818;
    font-size: 40px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 25px;
}
nav a{
    text-decoration: none;
    color: #3a3939;
    font-size: 18px;
}
.banner{
    padding: 30px 30px 0px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.one{
    font-size: 25px;
    margin-bottom: 0px;
}
.two{
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
}
.banner2{
max-width: 500px;

}
.section-about{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.myself{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.about{
 background-color: #fdf0e7;
 padding: 130px;
 border-radius: 10px;
 margin: 130px  0px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info-title{
    text-align: center;
}
.config{
    text-align: center;
    color: #4e4a4a;
}
#me{
    padding: 30px 150px;
}
.skill{
    display: flex;
    gap: 24px;
}
.skill-css{
    padding: 30px;
    border: 5px;
    background: aliceblue;
    box-shadow: 0px 2px 16px 0px rgb(43, 42, 42);
}
/* resume section */
.resume-colum{
font-size: 25px;
font-weight: 700;
color: #474747;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item1{
    font-size: 25px;
    color: #3a3939;
}
.resume-item2{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.item-p{
    font-size: 16px;
    color: #4e4a4a;
    text-align: justify;
    
}
/* hover */
#hover:hover{
    background-color: rgb(200, 233, 14);
}
.resume-item1:hover{
    background-color:  rgb(200, 233, 14);
}
.resume-item2:hover{
    background-color: rgb(212, 238, 66);
}
.item-p:hover{
    background-color:  rgb(220, 236, 126);
}
/* hover */
/* hr size */
.resume-container hr{
    margin: 15px;
}
#cv{
    background-color:  rgba(253, 110, 10, 1);
    border: 0;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF8F3;
}
/* footer style */
footer{
    display: flex;
    background-color: #FFF8F3;
   padding: 130px 200px;
    justify-content: space-between;
    gap: 130px;
}
.footer-colum{
    width: 50%;
}
.details input[type="text"], .details input[type="email"],
textarea{
display: block;
margin-bottom: 25px;
padding: 18px 35px;
color: #757575;
background: #ffffff;
border: 0;
border-radius: 5px;
width: 60%;
}
.social-link a{
    margin-right: 25px;
}
#value{
    border-radius: 3px;
    padding: 8px 15px;
    border: 0;
    background:  rgba(253, 110, 10, 1);
    color:#ffffff;
}